# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars04/src/backend-config.tfvars
*.tfvars
*.tfvars.json
backend-config.tfvars

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
04/src/backend-config.tfvars
*.tfvars
